.scroll-up {
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.6);
}

.scroll-down {
  transform: translateY(-100%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white);
  z-index: 999;
  transition: all 0.2s ease-in-out;
}

.header > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 var(--padding-m);
  margin: 0 auto;

  img {
    width: 85px;
  }
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.page-link {
  font-size: var(--fontsize-l);
  margin-right: var(--margin-l);
  color: var(--darkgray);

  &::after {
    display: block;
    content: "";
    border-bottom: 2px solid var(--red);
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: all 0.15s ease-in;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }

  &:focus,
  &:hover {
    color: var(--red);
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .header > div {
    padding: 0 var(--padding-xl);
  }
}

@media screen and (min-width: 1280px) {
  .header > div {
    padding: 0 var(--padding-xxl);

    img {
      width: 95px;
    }
  }
}
